#app {
    background: linear-gradient(white, skyblue);
    border: 1px solid black;
}

.navMenu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navButton {
    flex-grow: 1;
}

.display {
    height: 500em;
    border: 2px solid black;
    background: linear-gradient(gray, white);
}