#app {
    background: linear-gradient(white, skyblue);
    border: 1px solid black;
}

.navMenu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navButton {
    flex-grow: 1;
    padding: 1em 0 1em 0;
}

.display {
    height: 200em;
    border: 2px solid black;
    background: linear-gradient(gray 2%, bisque 5%, white);
}

.imgPreview {
    width: 160px;
    height: 160px;
}
